<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Application Form</title>
  <link th:href="@{/css/master.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
  <div class="inner_container">

    <!-- Application Form Title -->
    <div class="title_container">
      <img src="/image/university.png" width="250" height="160"/>
      <label class="title">Application form for selection of Academic Books
        <p></p>
      </label>
    </div>

    <!-- Error Messages -->
    <div class="error_container" th:if="${unknownError}">
      <div class="error">Something went wrong, please try again.</div>
    </div>
    <div class="error_container" th:if="${dateNotParsable}">
      <div class="error">The date entered was invalid.</div>
    </div>

    <!-- Form -->
    <div class="form_container">
      <form th:action="@{/BookForm3}" method="post" th:object="${bookForm3}">
        <h4>Semester 3</h4>

        <div class="label_container">
          <label class="label" for="TexnLog">ΤΕΧΝΟΛΟΓΙΑ ΛΟΓΙΣΜΙΚΟΥ:*</label>
        </div>
        <select name="TexnLog" id="TexnLog" class="check-menu-item" autofocus="autofocus"
                th:field="*{semester3books[0]}" value="${semester3books[0]}">
          <option value="TexnLogBook">Εισαγωγή στην UML</option>
        </select>
        <br />

        <div class="label_container">
          <label class="label" for="cyber">ΑΣΦΑΛΕΙΑ ΥΠΟΛΟΓΙΣΤΩΝ:*</label>
        </div>
        <select name="cyber" id="cyber" class="check-menu-item" autofocus="autofocus"
                th:field="*{semester3books[1]}" value="${semester3books[1]}">
          <option value="cyberBook">Κρυπτογραφία και Ασφάλεια Δικτύων</option>
        </select>
        <br />

        <div class="label_container">
          <label class="label" for="Algo">ΑΛΓΟΡΙΘΜΟΙ ΚΑΙ ΠΟΛΥΠΛΟΚΟΤΗΤΑ:*</label>
        </div>
        <select name="Algo" id="Algo" class="check-menu-item" autofocus="autofocus"
                th:field="*{semester3books[2]}" value="${semester3books[2]}">
          <option value="AlgoBook">ΑΛΓΟΡΙΘΜΟΙ ΣΧΕΔΙΑΣΗ KAI ΕΦΑΡΜΟΓΕΣ</option>
        </select>
        <br />

        <div class="label_container">
          <label class="label" for="ThlSimata">ΤΗΛΕΠΙΚΟΙΝΩΝΙΑΚΑ ΣΥΣΤΗΜΑΤΑ:*</label>
        </div>
        <select name="ThlSimata" id="ThlSimata" class="check-menu-item" autofocus="autofocus"
                th:field="*{semester3books[3]}" value="${semester3books[3]}">
          <option value="ThlSimataBook">ΤΗΛΕΠΙΚΟΙΝΩΝΙΑΚΑ ΣΥΣΤΗΜΑΤΑ</option>
        </select>


        <div class="button_container2" align="center">
          <input class="button2" type="submit" value="Upload your Credential"/>
        </div>
        <div class="button_container1" align="center">
          <a th:href="@{'http://localhost:3000/applicationForm'}" class="button1">Abort your Application</a>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
