<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Application Form</title>
  <link th:href="@{/css/master.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
  <div class="inner_container">

    <!-- Application Form Title -->
    <div class="title_container">
      <img src="/image/university.png" width="250" height="160"/>
      <label class="title">Application form for selection of Academic Books
        <p></p>
      </label>
    </div>

    <!-- Error Messages -->
    <div class="error_container" th:if="${unknownError}">
      <div class="error">Something went wrong, please try again.</div>
    </div>
    <div class="error_container" th:if="${dateNotParsable}">
      <div class="error">The date entered was invalid.</div>
    </div>

    <!-- Form -->
    <div class="form_container">
      <form th:action="@{/BookForm}" method="post" th:object="${bookForm}">

        <h4>Semester 1</h4>
          <div class="label_container">
              <label class="label" for="Pro1">ΠΡΟΓΡΑΜΜΑΤΙΣΜΟΣ |:*</label>
          </div>
        <select name="Pro1" id="Pro1" class="check-menu-item" autofocus="autofocus"
        th:field="*{semester1books[0]}" value="${semester1books[0]}">
            <option value="Pro1Book">Εισαγωγή στη γλώσσα C</option>
        </select>
          <br />

          <div class="label_container">
              <label class="label" for="logicS">ΛΟΓΙΚΗ ΣΧΕΔΙΑΣΗ:*</label>
          </div>
        <select name="logicS" id="logicS" class="check-menu-item" autofocus="autofocus"
                th:field="*{semester1books[1]}" value="${semester1books[1]}">
            <option value="logicSBook">ΟΡΓΑΝΩΣΗ ΚΑΙ ΔΙΟΙΚΗΣΗ ΥΠΟΛΟΓΙΣΤΩΝ</option>
        </select>
          <br />

          <div class="label_container">
              <label class="label" for="GramAlg">ΓΡΑΜΜΙΚΗ ΑΛΓΕΒΡΑ:*</label>
          </div>
        <select name="GramAlg" id="GramAlg" class="check-menu-item" autofocus="autofocus"
                th:field="*{semester1books[2]}" value="${semester1books[2]}">
            <option value="GramAlgBook">ΓΡΑΜΜΙΚΗ ΑΛΓΕΒΡΑ ΚΑΙ ΑΝΑΛΥΤΙΚΗ ΓΕΩΜΕΤΡΙΑ</option>
        </select>
          <br />

          <div class="label_container">
              <label class="label" for="MathAn">ΜΑΘΗΜΑΤΙΚΗ ΑΝΑΛΥΣΗ:*</label>
          </div>
        <select name="MathAn" id="MathAn" class="check-menu-item" autofocus="autofocus"
                th:field="*{semester1books[3]}" value="${semester1books[3]}">
            <option value="MathAnBook">ΜΑΘΗΜΑΤΙΚΗ ΑΝΑΛΥΣΗ ΚΑΙ ΕΦΑΡΜΟΓΕΣ</option>
        </select>


        <div class="button_container2" align="center">
          <input class="button2" type="submit" value="Upload your Credential"/>
        </div>
        <div class="button_container1" align="center">
          <a th:href="@{'http://localhost:3000/applicationForm'}" class="button1">Abort your Application</a>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
