<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link th:href="@{/css/login1.css}" rel="stylesheet"/>
</head>
<body>

<div class="inner_container">
    <div class="img_container" th:style="'background:url(/image/line-resized.jpg)'"></div>
    <div class="box">
        <div class="title_container">
            <img src="/image/university.png"  width="250" height="160"/>
        </div>

        <br/>
        <div class="form_container">



            <div class="button_container">
                <a th:href="@{http://localhost:3000/already/credential}" class="button">Login to your University Account via Gredential</a>
            </div>




        </div>

    </div>
</div>
</body>
</html>
